// Navigation
$nav-color: rgb(0,52,99);

#my-nav {
	position: fixed;
	background: $nav-color;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0;
	font-size: 60px;
	color: #fff;
	padding-top: 0px;
	z-index: 1000;
	-moz-transition: all, 0.3s cubic-bezier(0.4, 0.01, 0.3, 1);
	-o-transition: all, 0.3s cubic-bezier(0.4, 0.01, 0.3, 1);
	-webkit-transition: all, 0.3s cubic-bezier(0.4, 0.01, 0.3, 1);
	transition: all, 0.6s cubic-bezier(0.4, 0.01, 0.3, 1);
	backface-visibility: hidden;

	.bar {
		z-index: 2000;
		margin-top: 0px;
		height: 100px;
		background: $nav-color;
		backface-visibility: hidden;
	}
	.logo {
		width: 80px;
		height: 80px;
		padding: 40px 40px;
		z-index: 1000;
		display: block;
		position: relative;
		float: left;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
		}
	}
	.menu-item {
		float: right;
		position: relative;
		height: 74px;
		width: 144px;
		padding: 40px 40px;
		display: block;
		cursor: pointer;
		margin: 0 10px;

		a {
			position: absolute;
			width: 100%;
			right: 0;
			font-size: 20px;
			color: $nav-color;
			text-align: center;
			border: 1px solid white;
			border-radius: 10px;
			top: 22px;
			padding: 5px;
			background: white;
			text-decoration: none;

			&:hover {
				background: none;
				color: white;
			}
		}
		label {
			position: absolute;
			width: 100%;
			right: 0;
			font-size: 20px;
			color: $nav-color;
			text-align: center;
			border: 1px solid white;
			border-radius: 10px;
			top: 22px;
			padding: 5px;
			background: white;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				background: none;
				color: white;
			}
		}
	}
	.toggle {
		width: 40px;
		height: 45px;
		z-index: 3000;
		margin-top: 20px;
		margin-right: 20px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 5px;

		&:hover {
			background: transparent !important;
		}
		.toggle-icon {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: white;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		.top-bar {
			top: 0px;
			transition: all .3s ease-in-out;
		}
		.middle-bar {
			top: 12px;
		}
		.bottom-bar {
			top: 24px;
			transition: all .3s ease-in-out;
		}
		&:hover {
			.top-bar {
				transform: translateY(-2px);
			}
			.middle-bar {
				top: 12px;
			}
			.bottom-bar {
				transform: translateY(2px);
			}
		}
		&.open {
			.toggle-icon {
				background: $nav-color;
			}
			.top-bar {
				top: 18px;
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			.middle-bar {
				opacity: 0;
				left: -60px;
			}
			.bottom-bar {
				top: 18px;
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
		}
	}
	.nav-background {
		position: absolute;
		z-index: 2000;
		margin-left: 0px;
		top: 0px;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		backface-visibility: hidden;
	-moz-transition: all, 0.3s cubic-bezier(0.4, 0.01, 0.3, 1);
	-o-transition: all, 0.3s cubic-bezier(0.4, 0.01, 0.3, 1);
	-webkit-transition: all, 0.3s cubic-bezier(0.4, 0.01, 0.3, 1);
	transition: all, 0.6s cubic-bezier(0.4, 0.01, 0.3, 1);

		.nav-list {
			visibility: hidden;
			height: 100%;
			padding: 100px 0;
			opacity: 0;
			background: rgba($grey-50, 0.97);
			-moz-transform: translateY(100%);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			backface-visibility: hidden;

			.nav-list-item {
				cursor: pointer;
				&:hover {
						a{
							color: $deep-orange-500;
						}
						text-decoration: none;
						cursor: pointer;
					}
				.animsition-link {
					padding: 8px 0 0;
					width: 50%;
					margin: 0 auto 50px auto;
					display: block;
					letter-spacing: -0.06em;
					color: $nav-color;
					text-decoration: none;
					font-size: .7em;
					cursor: pointer;
					&:before {
						content: '';
						left: 50%;
						right: 50%;
						position: absolute;
						bottom: 0;
						background: black;
						height: 3px;

					}
				}
			}
			@media (max-width:$screen-md-min) {
				-moz-transform: none;
				-webkit-transform: none;
				transform: none;
			}
		}
	}
}
.open-nav {
	overflow: hidden;

	#my-nav {
	background: none;
	height: 100%;

		.bar {
			background: none;
			height: 100%;
		}
		.nav-background {
			opacity: 1;
			visibility: visible;
			height: 100%;
		}
		ul.nav-list {
			visibility: visible;
			opacity: 1;
			height: 100%;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}
}